<div class="theme-container">
    <div class="theme-name-wrapper">
        <div class="theme-name">
            <a href="#" class="normal">
                <h2>{{theme.title}}</h2>
            </a>
            <div class="columns">
                <div>
                    <p>Date: <time>{{theme.date}}</time></p>
                    <div class="nick-name">
                        <p>Username: <span>{{theme.username}}</span></p>
                    </div>
                </div>
                <div class="subscribers">
                    <!-- <button class="subscribe">Subscribe</button> -->
                    <p>Subscribers: <span>{{theme.subscribers}}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>