@{
    ViewData["Title"] = "Home";
}

<div class="">
    <h1 class="display-4">Home</h1>
    <h1 class="display-3">Hello World</h1>
    <p>This is home page.</p>
    <p>My ViewBag Message: @ViewBag.Message</p>
    <p>My Title: @ViewBag.Title</p>
</div>
