@model IEnumerable<Topic>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row forum-container">
        <section class="col-md-9 col-sm-12 article-wrapper">
            <p>
                <a asp-controller="Topic" asp-action="Create" class="btn btn-default">Create New Topic</a>
            </p>

            @foreach (var topic in Model)
            {
                <article class="forum-post">
                    <div class="head-post">
                        <h2 class="post-title">
                            <a asp-controller="Topic" asp-action="Details" asp-route-id="@topic.Id">@topic.Title</a>
                        </h2>
                        <p>
                            <span class="user-wrap">
                                <span class="cell">
                                    <span class="user-name">Author: @topic.Author.UserName</span>
                                </span>
                            </span>
                            <span class="user-wrap">
                                <span class="cell">
                                    <span class="user-name">Created Date: @topic.CreatedDate.ToString("HH:mm dd/MMM/yyyy")</span>
                                </span>
                            </span>
                        </p>
                    </div>
                </article>
            }